@model HIMSDATA.Models.ClaimsDetail

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClaimsDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferralNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferralNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInscompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInscompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncBatchNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncBatchNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncBatchNoUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncBatchNoUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncBatchDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncBatchDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncInsert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncInsert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyRateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyRateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyUsdRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyUsdRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyOriginalRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyOriginalRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimsDetailsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimsDetailsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimTypeRe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimTypeRe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoPaymentPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoPaymentPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoPaymentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoPaymentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NatureofvisitLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NatureofvisitLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofvisitLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofvisitLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visittype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visittype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceSpeciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceSpeciality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDisputed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDisputed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDeleteStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDeleteStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderDataId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderDataId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderIdMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderIdMaster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessClaimNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessClaimNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderRefNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderRefNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendingOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendingOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IcdCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IcdCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EyeOptical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EyeOptical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toothnos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toothnos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NatureOfVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NatureOfVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfConsultation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfConsultation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfActualConsultation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfActualConsultation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfAdmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfAdmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDischarge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDischarge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsItemCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsItemCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorizationRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorizationRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorizationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorizationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemServiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemServiceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDaysDiff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDaysDiff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyAwarded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyAwarded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPriceAwarded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPriceAwarded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyFinance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyFinance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPriceFinance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPriceFinance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAddedShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAddedShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosageForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosageForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Awarded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Awarded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidationKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidationKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidationPin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidationPin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerPushStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerPushStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RxMemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RxMemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmsSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmsSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedQueryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedQueryStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueryStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderIdDataFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderIdDataFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderIdDataForText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderIdDataForText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecisionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecisionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecisionReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecisionReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecisionReasonOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecisionReasonOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RxItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RxItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RxBrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RxBrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RxCartegory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RxCartegory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RxPrescriptionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RxPrescriptionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceAuditStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceAuditStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PregnancyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PregnancyStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PregnancyWeeks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PregnancyWeeks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PregnancyExpectedDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PregnancyExpectedDelivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceDecisionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceDecisionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceDecisionReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceDecisionReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceDecisionReasonOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceDecisionReasonOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinancialStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderNameDataFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderNameDataFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferToAuditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferToAuditor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopupAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopupAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproveBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproveBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceAuditUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceAuditUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceAuditedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceAuditedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncInsertCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncInsertCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncUpdateCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncUpdateCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
