@model HIMSDATA.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusUpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusUpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefixCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefixCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncBatchNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncBatchNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncBatchNoUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncBatchNoUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncBatchDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncBatchDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncInsert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncInsert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInscompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInscompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsePin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsePin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimitPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimitPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncInsertCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncInsertCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncUpdateCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncUpdateCounts)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
